<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EBerzosa.CommandLineProcess" version="2.0.6719.9867" targetFramework="net46" />
  <package id="EBerzosa.Common" version="1.1.6601.34981" targetFramework="net46" />
  <package id="EBerzosa.Utils" version="1.1.6603.38765" targetFramework="net46" />
  <package id="LightInject.Signed" version="5.1.1" targetFramework="net46" />
</packages>