<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EBerzosa.CommandLineProcess" version="1.0.6538.27237" targetFramework="net46" />
  <package id="EBerzosa.Common" version="1.1.6538.21567" targetFramework="net46" />
  <package id="EBerzosa.Utils" version="1.1.6538.21967" targetFramework="net46" />
  <package id="LightInject.Signed" version="5.1.1" targetFramework="net46" />
  <package id="Microsoft.Extensions.CommandLineUtils" version="1.1.1" targetFramework="net46" />
  <package id="System.Console" version="4.3.0" targetFramework="net46" />
</packages>