@{
    ViewBag.Title = "getting started in 30 minutes";
}

<h2>Getting started in 30 minutes</h2>

<p>
   This tutorial continues @Html.ActionLink("getting started in 5 minutes", "GettingStartedIn5") introduction.
</p>

<p>
   in progress...
</p>