@{ViewBag.Title = "documentation";}

<h2>Getting started with Pundit</h2>
<p>
   <ul>
      <li>@Html.ActionLink("Installation", "Installation")</li>
      <li>@Html.ActionLink("Getting started in 5 minutes", "GettingStartedIn5")</li>
      <li>Getting started in 30 minutes</li>
   </ul>
</p>

<h2>Introductions</h2>
<p>
   <ul>
      <li>The Manifest</li>
      <li>Repositories</li>
      <li>Creating packages</li>
      <li>Visual Studio 2010 Integration</li>
   </ul>
</p>
