@{
    ViewBag.Title = "installation";
}

<h2>Installing Pundit</h2>

<p>
   Pundit run on top of .NET 4 framework so you must have it installed. If you are running Visual Studio 2010 it is already installed,
   otherwise get .NET Framework from
   <a href="http://www.microsoft.com/en-us/download/details.aspx?id=17718" target="_blank">microsoft website</a>.
</p>

<p>
   Download Pundit from the @Html.ActionLink("main page", "Index", "Home") and follow the straightforward instructions. This
   will install console tools and Visual Studio 2010 extension in case Visual Studio is already installed. 
</p>

<p>
   <img src="@Url.Content("~/Content/Images/doc/installer-00.png")"/>
</p>

<p>
   <img src="@Url.Content("~/Content/Images/doc/installer-01.png")"/>
</p>

<p>
   For quick introduction, proceed to @Html.ActionLink("five minute tutorial", "GettingStartedIn5")
</p>