<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EBerzosa.Common" version="1.1.6601.34981" targetFramework="net46" />
  <package id="EBerzosa.Utils" version="1.1.6603.38765" targetFramework="net46" />
  <package id="LightInject.Signed" version="5.1.1" targetFramework="net46" />
  <package id="Mapster" version="3.1.8" targetFramework="net46" />
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net46" />
  <package id="NuGet.Common" version="4.5.0" targetFramework="net46" />
  <package id="NuGet.Configuration" version="4.5.0" targetFramework="net46" />
  <package id="NuGet.Core" version="2.14.0" targetFramework="net46" />
  <package id="NuGet.DependencyResolver.Core" version="4.5.0" targetFramework="net46" />
  <package id="NuGet.Frameworks" version="4.5.0" targetFramework="net46" />
  <package id="NuGet.LibraryModel" version="4.5.0" targetFramework="net46" />
  <package id="NuGet.Packaging" version="4.5.0" targetFramework="net46" />
  <package id="NuGet.Packaging.Core" version="4.5.0" targetFramework="net46" />
  <package id="NuGet.ProjectModel" version="4.5.0" targetFramework="net46" />
  <package id="NuGet.Protocol" version="4.5.0" targetFramework="net46" />
  <package id="NuGet.Versioning" version="4.5.0" targetFramework="net46" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net46" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net46" />
</packages>