<p>
   Pundit is a super lightweight and super simple binary dependency management system for .NET and C++.
</p>

<p>
   Free, Fast, OpenSource
</p>

<p>
   Pundit is currently available for Windows only (Linux and MacOSX versions are coming).
   <a href="http://www.microsoft.com/visualstudio/en-us" target="_blank">Visual Studio 2010</a>
   extension is also available as a part of the default installer.
</p>