html, body { height: 100%; margin: 0; padding: 0;}

body {
   font-size: small;
    color: #333; 
    font-family: Arial, Sans-Serif;
}

#content-wraper {
    width: 960px;
    min-width: 960px;
    margin: 0 auto;
    min-height: 100%;
}

header, footer, nav { display: block; }

header.main {
    height: 75px;
}

nav.main ul {
   padding: 0px;
   margin: 0px;
   line-height: 27px;
   font-size: 13px;
}

nav.main ul li {
   display: block;
   float: left;
   background-color: #f6f3f3;
}

nav.main ul a {
   color: #3c3d44;
   display: block;
   margin: 0;
   padding: 0 10px 2px 10px;
   text-decoration: none;
   font-weight: bold;
}

nav.main ul a:hover {
   color: black;
   background-color: #efebeb;
   text-decoration: none;
}

#logo {
   float:left;
   padding: 10px 20px 0 0;
}

#logo a {
   background: url(../Content/Images/logo-300-56.png) no-repeat;
   display: block;
   height: 56px;
   width: 300px;
   padding: 0;
   margin: 0;
   text-indent: -9999px;
}

#body {
   padding-bottom: 175px;
   padding-top: 30px;
   text-align: left;
   display: block;
}

a { text-decoration: none; }
a:active, a:hover { color: #900; }
a:visited, a:link { color: #68A; }

h1, h2, h3 {
   display: block;
}

h3 {
   font-weight: bold;
   font-size: 1.25em;
}

.doctitle {
   font-weight: bold;
   font-size: 1.25em;
   display: block;   
}