<?xml version="1.0"?>
<configuration>
   <configSections>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
   </configSections>

   <appSettings>      
      <!-- Sets HTTP port for the server -->
      <add key="Pundit.Server.Port" value="8080"/>
      
      <!-- Maximum number of revisions to keep for a package -->
      <add key="Pundit.Server.Store.MaxRevisions" value="100"/>
      
   </appSettings>

   <log4net>
      <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
         <mapping>
            <level value="ERROR" />
            <foreColor value="White" />
            <backColor value="Red, HighIntensity" />
         </mapping>
         <mapping>
            <level value="DEBUG" />
            <foreColor value="White" />
         </mapping>
         <mapping>
            <level value="WARN" />
            <foreColor value="Yellow" />
         </mapping>
         <mapping>
            <level value="INFO" />
            <foreColor value="Green, HighIntensity" />
         </mapping>
         <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
         </layout>
      </appender>
      <root>
         <level value="INFO" />
         <appender-ref ref="ColoredConsoleAppender" />
      </root>
   </log4net>
   
</configuration>
