<?xml version="1.0"?>
<configuration>
   <connectionStrings>
      <add name="MySqlDb"
           connectionString="Server=localhost;Database=pundit;Uid=pundit;Pwd=nopassword"
           providerName="MySql.Data.MySqlClient" />
   </connectionStrings>

   <appSettings>
      <add key="webpages:Version" value="1.0.0.0"/>
      <add key="ClientValidationEnabled" value="true"/>
      <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
      <add key="FilesRootDir" value="c:\devel\[data]\pundit-http"/>
   </appSettings>

   <system.web>
      <compilation debug="true" targetFramework="4.0">
         <assemblies>
            <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
         </assemblies>
      </compilation>

      <authentication mode="Forms">
         <!-- todo: change url-->
         <forms loginUrl="~/account/logon" path="/"/>
      </authentication>

      <membership defaultProvider="PunditMembership" userIsOnlineTimeWindow="1440">
         <providers>
            <clear/>
            <add name="PunditMembership" type="Pundit.Core.Server.Application.AspNet.PunditMembershipProvider, Pundit.Core.Server"/>
         </providers>
      </membership>
      <roleManager defaultProvider="PunditRoler" enabled="true" cacheRolesInCookie="true">
         <providers>
            <clear/>
            <add name="PunditRoler" type="Pundit.Core.Server.Application.AspNet.PunditRoleProvider, Pundit.Core.Server"/>
         </providers>
      </roleManager>

      <pages>
         <namespaces>
            <add namespace="System.Web.Helpers" />
            <add namespace="System.Web.Mvc" />
            <add namespace="System.Web.Mvc.Ajax" />
            <add namespace="System.Web.Mvc.Html" />
            <add namespace="System.Web.Routing" />
            <add namespace="System.Web.WebPages"/>
         </namespaces>
      </pages>

      <httpRuntime maxRequestLength="100000"/>
   </system.web>

   <system.webServer>
      <validation validateIntegratedModeConfiguration="false"/>
      <modules runAllManagedModulesForAllRequests="true"/>
   </system.webServer>

   <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
         <dependentAssembly>
            <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
            <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
         </dependentAssembly>
      </assemblyBinding>
   </runtime>
</configuration>